.content-container {
    padding-bottom: 10px;
}

.btn {
    color: #3174ba;
    border-color: #3174ba;

    &:hover {
        background-color: #3174ba;
        color: #fff;
    }
}

a {
    color: #3174ba;
    &:hover {
        color: #424242;
    }
}