.lazo-page-header {
  padding-top: 0;
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: solid 1px #e7e7e7;

  h2 {
    color: #333;
    font-weight: normal;
  }

  .tag-line {
    font-size: 1.85rem;
    color: #65656d;
  }
}
