<h2 id="lazocollection">LazoCollection</h2>
<p>Lazo collections extend <a href="http://backbonejs.org/#Collection">Backbone.Collection</a>.
Lazo also has the concept of a proxy layer – one for the client and one for the server. On the client it leverages a custom
<a href="http://backbonejs.org/#Sync">Backbone.sync</a> that sends all requests through a tunnel end
point on the Lazo application server. On the server it either forwards the request directly
to an service end point or if a <a href="LazoSyncher.md">LazoSyncher</a>  exists for the collection Lazo forwards
the request to the LazoSyncher.</p>
<pre><code class="lang-javascript">define([&#39;lazoCollection&#39;], function (LazoCollection) {

    &#39;use strict&#39;;

    return LazoCollection.extend({

        doSomething: function () {
            return &#39;something&#39;;
        }

    });

});
</code></pre>
<h3 id="-constructor-models-options-"><code>constructor(models, options)</code></h3>
<p>Creates a new <code>LazoCollection</code> instance.
You may override it if you need to perform some initialization while the instance is created.
The <code>LazoCollection</code> constructor must be called though.</p>
<p>Calls the <a href="http://backbonejs.org/#Collection-constructor">Backbone.Collection.constructor</a>.</p>
<h4 id="arguments">Arguments</h4>
<ol>
<li><code>models</code> <em>(Object)</em>: See <a href="http://backbonejs.org/#Collection-constructor">Backbone.Collection.constructor</a>.</li>
<li><code>options</code> <em>(Object)</em>: See <a href="http://backbonejs.org/#Collection-constructor">Backbone.Collection.constructor</a>.<ul>
<li><code>name</code> <em>(String)</em>: Collection name.</li>
<li><code>params</code> <em>(Object)</em>: A hash of name-value pairs used in url substitution.</li>
<li><code>ctx</code> <em>(Object)</em>: The current context for the request. See <em>TODO: ADD LINK</em>.</li>
<li><code>[modelName]</code> <em>(String)</em>: Specify the LazoModel class that the collection contains.  This should be the name of the model in the repo.  This <em>MUST</em> be used with the Backbone.Collection model property..</li>
</ul>
</li>
</ol>
<h4 id="example">Example</h4>
<pre><code class="lang-js">var models = [{ name: &#39;Foo&#39; }, { name: &#39;Bar&#39; }, { name: &#39;Baz&#39; }];
var options = {
    name: &#39;LazoCollection&#39;,
    params: {},
    ctx: {}
};

new LazoCollection(models, options);
</code></pre>
<h3 id="-call-name-arguments-options-"><code>call(name, arguments, options)</code></h3>
<p>Calls the <code>name</code> method on the syncher, passing in <code>arguments</code> and <code>options</code>.</p>
<p><em>Note - The syncher is a server only concept, so this will initiate a tunnel call.</em></p>
<h4 id="arguments">Arguments</h4>
<ol>
<li><code>name</code> <em>(String)</em>: Name of function to call on the syncher.</li>
<li><code>arguments</code> <em>(&#42;)</em>: Passed to the function as the first param.</li>
<li><code>options</code> <em>(Object)</em>: Passed to the function as the second param.<ul>
<li><code>success</code> <em>(Function)</em>: Function to call when successful.</li>
<li><code>error</code> <em>(Function)</em>: Function to call if there is a failure.</li>
</ul>
</li>
</ol>
<h4 id="example">Example</h4>
<pre><code class="lang-js">var method = &#39;validate&#39;;
var arguments = lazoColleciton.toJSON();
var options = {
    success: function(){},
    error: function: function(){}
};
lazoCollection.call(method, arguments, options);
</code></pre>
