<div class="content-container">
    <div lazo-cmp-container="title"></div>
    <div class="container">
        <div class="col-md-9" role="main">
            <p>Coming soom to an Internet near you.</p>
        </div>
        <div lazo-cmp-container="sidebar" class="col-md-3"></div>
    </div>
</div>