<div class="content-container">
    <div lazo-cmp-container="title"></div>
    <div class="container">
        <div class="col-md-9" role="main">
            <p>
                LazoJS is a client-server web framework built on Node.js that allows front-end developers to easily create
                a 100% SEO compliant, component MVC structured web application with an optimized first page load.
            </p>
            <p>
                LazoJS is intended to provide the structure, APIs, sensible defaults, and standardized life cycles that allow
                you to create a maintainable web application. There is not a “lock in” to LazoJS framework specific technology.
                You are free to plug in any rendering and binding technology you desire, and there will be an eco-system in the
                near future that you can leverage (tooling is in the works as well). The API is extremly stable as well. Any
                breaking changes will be minimal with low impact migration plans.
            </p>
            <p>
                LazoJS was built by <a href="http://www.walmartlabs.com/">WalmartLabs</a>.
            </p>
        </div>
        <div lazo-cmp-container="sidebar" class="col-md-3"></div>
    </div>
</div>