<div lazo-cmp-container="header"></div>
<div class="jumbotron">
    <img src="/components/home/logo.png" class="img-responsive center-block" alt="LazoJS" />
    <p>
        A client-server web framework built on Node.js that allows front-end developers to easily
        create a 100% SEO compliant, component MVC structured web application with an optimized
        first page load.
    </p>
</div>
<div lazo-cmp-container="footer"></div>