.footer {
    height: 50px;
    border-top: solid 1px #e7e7e7;

    .copy, .team {
        text-align: center;
        color: #424242;
    }

    .team {
        margin-top: 10px;
    }

    .copy {
        font-size: 0.9em;
    }
}