<div class="content-container">
    <div lazo-cmp-container="title"></div>
    <div class="container">
        <div class="col-md-9" role="main">
            <p>
                The API documentation is currently in the works. Please reference the LazoJS
                <a href="https://github.com/walmartlabs/lazojs/wiki">wiki</a> for now. Got more questions? Hit
                us up on Twitter, <a href="https://twitter.com/lazojs">@lazojs</a>, or use the
                <a href="https://groups.google.com/forum/#!forum/lazojs">Google Group</a>.
            </p>
        </div>
        <div lazo-cmp-container="sidebar" class="col-md-3"></div>
    </div>
</div>
