<div class="content-container">
    <div lazo-cmp-container="title"></div>
    <div class="container">
        <div class="col-md-9" role="main">
            <h3>Contributing</h3>
            <p>
                The LazoJS source is hosted on Github. To contribute patches, create a fork of the project on GitHub and submit a pull request.
                Please be sure to include unit tests and documentation for any new features you add. See the full
                <a href="https://github.com/lazojs/lazo/wiki/Contributing">guidelines</a> for more information.
            </p>
            <h3>Bugs and Issues</h3>
            <p>
                If you've found a bug or issue in LazoJS, please let us know. To file a bug, go to the
                <a href="https://github.com/lazojs/lazo/issues">issue tracker</a> and create a new issue. Great bug reports include a clear description of what is not happening, what you expected to happen, and steps to reproduce the issue.
            </p>
            <h3>Getting Help</h3>
            <p>
                Have a question? Want to keep up-to-date on changes and releases? Post questions to the
                <a href="https://groups.google.com/forum/#!forum/lazojs">LazoJS Google Group</a> and follow
                <a href="https://twitter.com/lazojs">@lazojs</a> on Twitter.
            </p>
            <p>
                Looking for documentation? We are in transition phase so documentation is spread across a couple different
                resources. You can find some API documentation <a href="/topic/api">here</a> and even more documentation on the
                <a href="https://github.com/lazojs/lazo/wiki">wiki</a>.
            </p>
        </div>
        <div lazo-cmp-container="sidebar" class="col-md-3"></div>
    </div>
</div>