<div class="content-container">
    <div class="jumbotron">
        <div class="container">
            <h1>Guide</h1>
            <p>Learn best practices, patterns, concepts, and much more.</p>
        </div>
    </div>
    <div class="container">
        {{> main this}}
        <div lazo-cmp-container="sidebar" class="col-md-3"></div>
    </div>
</div>