<div class="content-container">
    <div class="container blog-posting">
        <div class="col-md-12" role="main">
            <h2>Welcome to lazojs.org!</h2>
            <p class="author-date">
                By Jason Strimpel - 01/31/2015
            </p>
            <p>
                Welcome to lazojs.org! This is the first of what will be many postings on the newly launched site.
                The intent of lazojs.org is to centralize documentation, guides, and announcements to create a
                one-stop-shop for the community.
            </p>
            <p>
                There are quite a number of things in the works, including, but not limited to the following:
            </p>
            <ul>
                <li>v2 with pluggable asynchronous rendering</li>
                <li>Child views (v2)</li>
                <li>Isomorphic widget interface for integrating other libraries (v2)</li>
                <li>Testing support</li>
                <li>Generator</li>
                <li>Build tools, e.g., npm post install scripts for building an application</li>
                <li>Documentation</li>
                <li>Guides</li>
                <li>Ecosystem based on npm for extensions, components, models, etc.</li>
            </ul>
            <p>
                We are very excited about the future of Lazo and happy that you have stopped by to learn more.
                We hope that you continue to <a href="https://twitter.com/lazojs">follow</a> along and engage in
                the community along with us on this journey.
            </p>
        </div>
    </div>
</div>