<p>
    The Lazo <a href="https://github.com/jstrimpel/lazojs-todomvc">TodoMVC</a>
    example application can be started by executing the following command.
</p>
<pre class="language-bash"><code class=" language-bash">lazo start lazojs-todomvc</code></pre>
<p>
    After the application has been started then open a browser to <a href="http://localhost:8080">http://localhost:8080</a>
</p>